# Js dependency management
node_modules
package-lock.json
yarn-error.log

# IDEs
.idea

# Seeds data
seeds.js
seeds-data.json

# google cloud platform config file
env_vars.yaml

# Build
build

# Environment variables
env_vars.yaml
secret.yaml